.form-group {
  display: inline-block;
}
.has-warning {
  margin-left: 36px;
}
.form-control {
  display: inline;
  width: 200px;
  margin-left: 10px;
}
.maincontainer {
  margin-left: 40px;
}
.btn-group-justified {
  width: 600px;
  margin-bottom: 22px;
}
#canvas {
  border: 1px solid black;
  display: block;
}
#lineWidthchange {
  height: 25px;
  width: 200px;
}
#colorchange {
  height: 25px;
  margin: 0 0 2px 10px;
}
#selecter {
  width: 60px;
  height: 30px;
}
